@import url('https://fonts.googleapis.com/css2?family=Allura&family=Vollkorn&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BUTTONS LINKROUTER */
.buttonLink {
    text-decoration: none;
}

/* CLASS DOWNLOADMENU */
.css-6hp17o-MuiList-root-MuiMenu-list {
    background-color: black;
}

/* HERO */
.imgHero {
    background-image: url(/public/assets/sunset.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleHero {
    font-family: "Allura";
    color: whitesmoke;
    font-size: 10vh;
    font-weight: 500;
    text-shadow: 2px 2px 1px rgb(13, 14, 14);
}

.paragraphHero {
    font-family: "Allura";
    background-color: rgba(6, 220, 248, 0.541);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: white;
    font-size: 6vh;
    font-weight: 400;
    margin-top: 2vh;
    width: 40%;
    text-align: center;
    text-shadow: 2px 2px 3px rgb(15, 15, 15);
}

/* CARROUSEL */
.nameCities {
    text-align: center;
    font-family: "Vollkorn";
    color: #7F19A6;
    font-weight: 500;
    font-size: 3.5vh;
}

.titleCarrousel {
    text-align: center;
    color: #7F19A6;
    font-family: "Allura";
    font-size: 6vh;
    font-weight: 400;
}

.CarrouselContainer {
    background-color: white;
}

/* FOOTER */

.FooterContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
}

.appsContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.notfoundContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 73vh;
    background-image: url(/public/assets/fondoitinerary.jpg);
}

/* CARDS CITIES */

.citiesPage {
    display: flex;
    flex-direction: column;
    background-image: url(/public/assets/fondoitinerary.jpg);
    background-size: contain;
}

.cardFilterBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 65vh;
}

.inputBox {
    display: flex;
    justify-content: flex-end;
    padding-right: 7vw;
    padding-top: 2vh;
}

.inputSearch {
    width: 20rem !important;
    height: 5vh !important;
    border-radius: 15px !important;
    text-align: center !important;
    color: grey !important;
}


.cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 4vh;
    padding-bottom: 2vh;


}

.card {
    width: 28vw;
    height: 17rem;
    border-radius: 15px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
    overflow: hidden;
    margin: 0.8rem;

}

.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transform: scale(1.1);
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    transform: translateY(10);
    position: relative;
    top: 40%;
    background: rgba(0, 0, 0, 0.5);
    height: 6rem;
    padding: 10px;
    color: #fff;
    transition: all 0.75s ease-in;
}

.bottomDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;

}

.card:hover .card-info {
    transform: translateY(100%);
}

.card-title {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1.3px;
    line-height: 33px;
    margin: 0;

}

.card-description {
    font-size: 16px;
    letter-spacing: 1.3px;
    line-height: 22px;
}


/* COMPONENT DETAILS */

.cardDetail {
    width: 100%;
    min-height: 73vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    object-fit: cover !important;
}

.card-title-details {
    font-family: "Allura";
    color: whitesmoke;
    font-size: 60px;
    font-weight: 600;
    text-shadow: 7px 6px 10px rgb(19, 19, 18);
    text-align: center;
    padding: 2vh;
}

.card-country-details {
    font-family: "Vollkorn";
    color: white;
    font-size: 15px;
    width: 50%;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.406) !important;
    /* backdrop-filter: blur(5px) !important; */
    border-radius: 15px;

}

.buttonDetails {
    margin-top: 5vh !important;
    margin-bottom: 5vh !important;
}

.boxDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* bottom cities details */

.button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border: none;
    border-radius: 1.5rem;
    background: rgba(158, 2, 248, 0.307);
    backdrop-filter: blur(3px);
    background-size: 400%;
    color: whitesmoke;
    font-size: 20px;
    text-shadow: 1px 1px 3px rgb(13, 14, 14);
    font-family: "Vollkorn";
    letter-spacing: 0.05em;
}

.button:hover::before {
    transform: scaleX(1);
}

.button-content {
    position: relative;
    z-index: 1;
}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(82.3deg,
            rgb(1, 219, 248) 10.8%,
            rgba(10, 215, 242, 0.42) 94.3%);
    transition: all 0.475s;
}

/* CARD ITINERARY */
.itinerary-title{
    padding: 0.3rem 1rem !important;
    margin-top: 2rem !important;
    font-family: Vollkorn !important;
    font-size: 30px !important;
    color: grey !important;
    background-color: #83f6e1;
    font-weight: 700 !important;
    border-radius: 3rem !important;
}

.cardItineraryBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    width: 100%;
}

.cardBox {
    background: rgba(0, 0, 0, 0.668) !important;
    border: none !important;
}

.nextui-collapse-title {
    color: black  !important;
    text-align: center;
    font-size: 4vh;
    letter-spacing: 4px;
}

.nextui-collapse--closed {
    background-color: #83f6e1 !important;
    height: 7vh;
    width: 100%;
}
.boxBodyItinerary{
    padding-bottom: 0 !important;

}
.button-like{
    border: none !important;
    background-color: transparent !important;
}
.nextui-collapse--open{
    background-color:rgba(235, 226, 226, 0.5) !important;
}

/* CARD ACTIVITIES */
.activitiesBox {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: wrap;
}

.cardActivity {
    width: 200px;
    height: 300px;
    border-radius: 15px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
    overflow: hidden;
    margin: 0.8rem !important;

}

.cardActivity:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transform: scale(1.1);
}

.cardActBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    transform: translateY(10);
    position: relative;
    top: 70%;
    background: rgba(0, 0, 0, 0.5);
    height: 15vh;
    padding: 10px;
    color: #fff;
    transition: all 0.75s ease-in;
}

.cardActivity:hover .cardActivity {
    transform: translateY(100%);
}

.cardActName {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.3px;
    line-height: 33px;
    margin: 0;

}

.commentsContainer {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    margin: 1rem;
    background-color:transparent;
    border-radius: 15px;
    color:white;
    font-weight: 100 !important;
}

.nameComment{
    font-weight: 100 !important;
    font-size: 15px;
    color: #83F6E1 !important;
}
.buttonComment {
    font-size: 13px;
    height: 5vh;
    padding: 0 0.5rem;

}

.commentBox {
    display: flex;
    align-items: center !important;

    margin: 0 !important;
    padding:0.5rem;
    width: 100% !important;

}

.inputComment {
    border: none;
    border-radius: 15px;
    padding: 0 !important;
    margin:0 !important;
    margin-left: 2vw;
    background-color: transparent;
    font-size: medium;
    font-weight: 400 !important;
    width: 40vw !important;
    overflow-wrap: break-word;

}
.comment{
    color: black !important
}
.inputComment:focus {
    outline-color: white;

}


/* CARD ITINERARY NOT FOUND */

.botonSignup-in {
    background-color: #83F6E1 !important;
    color: rgb(66, 65, 65) !important;
}

.signup-inBox {
    background: rgba(7, 7, 7, 0.487) !important;
    border:none !important;

    /* background-image: url(/public/assets/travel.png) !important;
    background-size: 80rem !important;
    background-position: center !important;
    background-repeat: no-repeat !important; */
    /* min-height: 67vh; */
}

/* login */

.loginBox{
    background-image: url("https://i.imgur.com/ppq0jOi.jpg");
    background-size: cover;
    background-position: center !important;
    min-height: 73vh;
}
.nextui-c-hzQjrs-hyKnjc-asPlaceholder-true {
    color: white !important;
    font-size: 18px !important;
    font-family: Vollkorn !important;
}
.nextui-c-jeuecp{
color:#83F6E1 !important;
}
.nextui-c-iwmZdB-CvrYq-status-warning{
    --nextui--inputHoverBorderColor: #83F6E1 !important;
}
.nextui-c-iwmZdB{
    --nextui--inputHoverBorderColor: #83F6E1 !important;
}
.nextui-c-BDLTQ{
    color: white !important;
}

.css-1dmqq7i-MuiNativeSelect-select-MuiInputBase-input-MuiInput-input{
    font-size: 18px !important;
    font-family: Vollkorn !important;
}

@media (max-width: 425px) {
    .FooterContainer {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding-top: 2vh;
    }

    .buttonApps {
        display: flex;
        flex-direction: row;
    }

    .card-title-details {
        font-size: 6vh !important;
    }

    .card-country-details {
        font-size: 15px !important;
        width: 90% !important;
    }

    .card {
        width: 80% !important;
    }
.buttonComment{
    margin-left: 0 !important;
}
    .durationBox {
        gap: 0 !important;
        margin-top: 0 important !;
        margin-bottom: 0 !important;
    }

    .itineraryperson {
        margin: 0 !important;
    }

    .hashBox {
        gap: 0 !important;
    }

    .boxBodyItinerary {
        padding: 0 !important;
    }
}

@media (max-width: 600px) {
    .card {
        width: 80% !important;
    }

    .card-title-details {
        font-size: 7vh !important;
    }

    .cardBox {
        width: 90vw !important;
    }

    .signup-inBox {
        width: "20rem" !important;
    }
    .card-country-details {
        width: 90% !important;
    }
    
}


@media (max-width: 768px) {
    .paragraphHero {
        width: 80%;
    }

    .inputSearch {
        width: 10rem !important;
    }

    .card {
        width: 38%;
    }

    .card-title-details {
        font-size: 10vh !important;
    }
    .loginBox{
        align-items: center !important;
        padding-right: 0 !important;
    }
    .card-country-details {
        width: 70% !important;
    }
}

@media (max-width: 1000px) {

    .card-title-details {
        font-size: 13vh;
    }

}

@media (min-width: 1500px) {
    .card-info {
        height: 20%;
    }
}