@import url('https://fonts.googleapis.com/css2?family=Allura&family=Vollkorn&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BUTTONS LINKROUTER */
.buttonLink {
    text-decoration: none;
}

/* CLASS DOWNLOADMENU */
.css-6hp17o-MuiList-root-MuiMenu-list {
    background-color: black;
}

/* HERO */
.imgHero {
    background-image: url(/public/assets/sunset.jpg);
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleHero {
    font-family: "Allura";
    color: white;
    font-size: 10vh;
    font-weight: 500;
    text-shadow: 2px 2px 3px rgb(248, 244, 6);
}

.paragraphHero {
    font-family: "Allura";
    background-color: #f47569a2;
    border-radius: 15px;
    color: white;
    font-size: 6vh;
    font-weight: 400;
    margin-top: 2vh;
    width: 40%;
    text-align: center;
    text-shadow: 2px 2px 3px rgb(15, 15, 15);
}

@media (max-width: 768px) {
    .paragraphHero {
        width: 80%;
    }
}

.buttoncities {
    border: 2px solid white;
    border-radius: 20px;
    background-color: transparent;
    padding: 0.5rem;
    width: 25vh;
    font-family: "Vollkorn";
    text-shadow: 2px 2px 3px rgb(15, 15, 15);
    font-weight: 500;
    color: white;
    font-size: 5vh;
    margin-top: 3vh;
}

.buttoncities:link,
.buttoncities:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(27, 27, 27);
    padding: 10px 30px;
    border: 1px solid;
    border-radius: 1000px;
    display: inline-block;
    transition: all .2s;
    position: relative;
}

.buttoncities:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

.buttoncities:active {
    transform: translateY(-3px);
}

.buttoncities::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    transition: all .3s;
}

.buttoncities:hover::after {
    background-color: rgb(0, 238, 255);
    transform: scaleX(1.4) scaleY(1.5);
    opacity: 0;
}

/* CARROUSEL */
.nameCities {
    text-align: center;
    font-family: "Vollkorn";
    color: #7F19A6;
    font-weight: 500;
    font-size: 3.5vh;
}

.titleCarrousel {
    text-align: center;
    color: #7F19A6;
    font-family: "Allura";
    font-size: 6vh;
    font-weight: 400;
}

.CarrouselContainer {
    background-color: #FFFFFF;
}

/* FOOTER */

.FooterContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
}

@media (max-width: 425px) {
    .FooterContainer {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding-top: 2vh;
    }

    .buttonApps {
        display: flex;
        flex-direction: row;
    }
}

.appsContainer {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.CitiesContainer,
.notfoundContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 73vh;
    background-color: #7e19a69a;
}

/* CARDS CITIES */
.cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 2vh;

}

.card {
    width: 60%;
    height: 13rem;
    border-radius: 3px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
    overflow: hidden;
    margin: 0.8rem;
    border-radius: 20px;
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transform: scale(1.1);
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    transform: translateX(2);
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    padding: 10px;
    color: #fff;
    transition: all 0.75s ease-in;
}


.card:hover .card-info {
    transform: translateY(100%);
}

.card-title {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1.3px;
    line-height: 33px;
    margin: 0;

}

.card-description {
    font-size: 16px;
    letter-spacing: 1.3px;
    line-height: 22px;
}