@import url('https://fonts.googleapis.com/css2?family=Allura&family=Vollkorn&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BUTTONS LINKROUTER */
.buttonLink {
    text-decoration: none;
}

/* CLASS DOWNLOADMENU */
.css-6hp17o-MuiList-root-MuiMenu-list {
    background-color: black;
}

/* HERO */
.imgHero {
    background-image: url(/public/assets/sunset.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleHero {
    font-family: "Allura";
    color: whitesmoke;
    font-size: 10vh;
    font-weight: 500;
    text-shadow: 2px 2px 1px rgb(13, 14, 14);
}

.paragraphHero {
    font-family: "Allura";
    background-color: rgba(6, 220, 248, 0.541);
    border-radius: 15px;
    color: white;
    font-size: 6vh;
    font-weight: 400;
    margin-top: 2vh;
    width: 40%;
    text-align: center;
    text-shadow: 2px 2px 3px rgb(15, 15, 15);
}

.buttoncities {
    border: 2px solid rgba(6, 220, 248, 0.541);
    border-radius: 20px;
    background-color: rgba(6, 220, 248, 0.384);
    padding: 0.5rem;
    width: 25vh;
    font-family: "Vollkorn";
    text-shadow: 2px 2px 1px rgb(15, 15, 15);
    font-weight: 500;
    color: white;
    font-size: 5vh;
    margin-top: 3vh;
}

.buttoncities:link,
.buttoncities:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(27, 27, 27);
    padding: 10px 30px;
    border: 1px solid;
    border-radius: 1000px;
    display: inline-block;
    transition: all .2s;
    position: relative;
}

.buttoncities:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

.buttoncities:active {
    transform: translateY(-3px);
}

.buttoncities::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    transition: all .3s;
}

.buttoncities:hover::after {
    background-color: rgb(0, 238, 255);
    transform: scaleX(1.4) scaleY(1.5);
    opacity: 0;
}

/* CARROUSEL */
.nameCities {
    text-align: center;
    font-family: "Vollkorn";
    color: #7F19A6;
    font-weight: 500;
    font-size: 3.5vh;
}

.titleCarrousel {
    text-align: center;
    color: #7F19A6;
    font-family: "Allura";
    font-size: 6vh;
    font-weight: 400;
}

.CarrouselContainer {
    background-color: white;
}

/* FOOTER */

.FooterContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
}

.appsContainer {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.notfoundContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 66vh;
    background-image: url(/public/assets/fondoitinerary.jpg);
}

/* CARDS CITIES */

.citiesPage {
    display: flex;
    flex-direction: column;
    background-image: url(/public/assets/fondoitinerary.jpg);
    background-size: contain;
}

.cardFilterBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 65vh;
}

.inputBox{
    display: flex;
justify-content: flex-end;
padding-right: 7vw;
padding-top: 2vh;
}

.inputSearch {
    width: 20rem !important ;
    height: 5vh !important;
    border-radius: 15px !important;
    text-align: center !important;
    color: white !important;
}


.cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 4vh;
    padding-bottom: 2vh;


}

.card {
    width:28vw;
    height: 17rem;
    border-radius: 15px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
    overflow: hidden;
    margin: 0.8rem;
    
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transform: scale(1.1);
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    transform: translateY(10);
    position: relative;
    top:40%;
    background: rgba(0, 0, 0, 0.5);
    height: 6rem;
    padding: 10px;
    color: #fff;
    transition: all 0.75s ease-in;
}

.bottomDetails {
display: flex;
justify-content: center;
align-items: center;
padding: 2vh;

}

.card:hover .card-info {
    transform: translateY(100%);
}

.card-title {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1.3px;
    line-height: 33px;
    margin: 0;

}

.card-description {
    font-size: 16px;
    letter-spacing: 1.3px;
    line-height: 22px;
}


/* COMPONENT DETAILS */

.cardDetail {
    width: 100%;
    height: 73vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    object-fit: cover !important;
}
.card-title-details {
    font-family: "Allura";
    color: whitesmoke;
    font-size: 20vh;
    font-weight: 500;
    text-shadow: 7px 6px 10px rgb(19, 19, 18);
    text-align: center;
}
.card-country-details {
    font-family: "Allura";
    color: white;
    font-size: 10vh;
    text-align: center;
    font-weight: 500;
    text-shadow: 2px 2px 3px rgb(248, 135, 6);
}
.buttonDetails {
    margin-top: 5vh !important;
}
.boxDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* bottom cities details */

   .fancy {
    background-color:rgba(0, 0, 0, 0.411);
    border: 2px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1em 1.5em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 12px;
   }
   
   .fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: rgba(0, 0, 0, 0.411);
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: 0.3s linear, width 0.3s linear;
   }
   
   .fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
   }
   
   .fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: rgba(0, 0, 0, 0.411);
    transition: width 0.5s ease-out, left 0.3s ease-out;
   }
   
   .fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: rgba(0, 0, 0, 0.411);
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background:rgba(0, 0, 0, 0.411);
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy:hover {
    color: white;
    background: black;
   }
   
   .fancy:hover::before {
    width: 0.9375rem;
    background: white;
   }
   
   .fancy:hover .text {
    color: white;
    padding-left: 1.5em;
   }
   
   .fancy:hover .top-key {
    left: -2px;
    width: 0px;
   }
   
   .fancy:hover .bottom-key-1,
    .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
   }

/* CARD ITINERARY */

.cardItineraryBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    padding-top: 5vh;
    background-image: url(/public/assets/fondoitinerary.jpg);
    background-size: contain;
}
.cardBox {
    background-image: url(/public/assets/travel.png) !important;
    background-size: 80rem !important;
    background-position: center  !important;
    background-repeat: no-repeat !important;
}
.nextui-collapse-title{
    color:rgb(66, 65, 65) !important;
    text-align: center;
    font-size: 4vh;
    letter-spacing: 4px;

}
.nextui-collapse--closed {
    background-color: #83f6e1 !important;
}

/* CARD ITINERARY NOT FOUND */

.itiNotFoundBox {
    background-image: url(/public/assets/fondoitinerary.jpg);
    background-size: contain;
}

.botonSignup-in {
    background-color: #83F6E1 !important ;
    color: rgb(66, 65, 65)  !important;
}

.signup-inBox {
    background-image: url(/public/assets/travel.png) !important;
    background-size: 80rem !important;
    background-position: center  !important;
    background-repeat: no-repeat !important;
}

@media (max-width: 425px) {
    .FooterContainer {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding-top: 2vh;
    }
    .buttonApps {
        display: flex;
        flex-direction: row;
    }
    .card-title-details {
        font-size: 6vh !important;
    }
    .card-country-details {
        font-size: 5vh !important;
    }
    .card {
        width: 80% !important;
    }

}

@media (max-width: 600px) {
    .card {
        width: 80% !important;
    }
    .card-title-details {
        font-size: 7vh !important;
    }
}

@media (max-width: 768px) {
    .paragraphHero {
        width: 80%;
    }
    .inputSearch {
        width: 10rem !important;
    }

    .card {
        width: 38%;
    }
    .card-title-details {
        font-size: 10vh !important;
    }
}

@media (max-width: 1000px) {

    .card-title-details {
        font-size: 13vh;
    }
}

@media (min-width: 1500px) {
    .card-info {
       height:20%;
    }
}