@import url('https://fonts.googleapis.com/css2?family=Allura&family=Vollkorn&display=swap');

*{margin:0;
padding:0;
box-sizing: border-box;}

.botonLink {
    text-decoration: none;
}

.css-6hp17o-MuiList-root-MuiMenu-list{
    background-color: black;
}

.imgPortada { 
    background-image: url(/public/assets/sunset.jpg);
    background-size: cover;
    height:90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.tituloPortada {
    font-family: "Allura";
    color: white;
    font-size: 10vh;
    font-weight: 500;
}

.parrafoPortada {
    font-family: "Allura";
    color: white;
    font-size: 6vh;
    font-weight: 400;
    margin-top: 2vh;
    width: 40vw;
    text-align: center;
}

.botonCities {
 border: 2px solid white;
 border-radius: 20px;
 background-color: transparent;
 padding: 0.5rem;
 width: 25vh;
 font-family: "Vollkorn";
 font-weight: 500;
 color: white;
 font-size: 5vh;
 margin-top: 3vh;
}  
.botonCities:link,
.botonCities:visited {
 text-transform: uppercase;
 text-decoration: none;
 color: rgb(27, 27, 27);
 padding: 10px 30px;
 border: 1px solid;
 border-radius: 1000px;
 display: inline-block;
 transition: all .2s;
 position: relative;
}

.botonCities:hover {
 transform: translateY(-5px);
 box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

.botonCities:active {
 transform: translateY(-3px);
}

.botonCities::after {
 content: "";
 display: inline-block;
 height: 100%;
 width: 100%;
 border-radius: 100px;
 top: 0;
 left: 0;
 position: absolute;
 z-index: -1;
 transition: all .3s;
}

.botonCities:hover::after {
 background-color: rgb(0, 238, 255);
 transform: scaleX(1.4) scaleY(1.5);
 opacity: 0;
}

.nombreCiudad {
text-align: center;
font-family: "Vollkorn";
color:#7F19A6;
font-weight: 500;
font-size: 3.5vh;
}
.tituloCarrousel {
    text-align: center;
    color: #7F19A6;
    font-family: "Allura";
    font-size: 5vh;
    font-weight: 400;
}

.CarrouselContainer {
        background-color: #FFFFFF;
}

.FooterContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
}
@media (max-width: 425px) {
    .FooterContainer {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      padding-top: 2vh;
    }
    .botonRedes{
        display: flex;
        flex-direction: row;
    }
  }

.RedesContainer{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.CiudadesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 73vh;
    background-color: #7e19a69a;
}